**/*.log
**/*.swp
node_modules
**/node_modules/**
.coverage
.nyc_output
docs/
out/
system-test/secrets.js
system-test/*key.json
*.lock
.DS_Store
google-cloud-logging-winston-*.tgz
google-cloud-logging-bunyan-*.tgz
yarn.lock
**/yarn.lock
data/
.env.docker
.env
